[submodule "tensor"]
	path = tensor
	url = git@github.com:vixcpp/tensor.git
	branch = dev

[submodule "ml"]
	path = ml
	url = git@github.com:vixcpp/ml.git
	branch = dev

[submodule "distributed"]
	path = distributed
	url = git@github.com:vixcpp/distributed.git
	branch = dev

[submodule "nn"]
	path = nn
	url = git@github.com:vixcpp/nn.git
	branch = dev

[submodule "nlp"]
	path = nlp
	url = git@github.com:vixcpp/nlp.git
	branch = dev

[submodule "vision"]
	path = vision
	url = git@github.com:vixcpp/vision.git
	branch = dev
